h1 a {
    color: #FCA205;
    font-family: 'Exo';
    font-weight: 700;
}

body {
    font-family: 'Exo';
    font-weight: 500;
}

.nav.navbar-nav.navbar-right li p {
    color: white;
}

.navbar-inverse .navbar-brand {
    font-size: 24pt;
    color: white;
}

#newpost, #viewprofile {
    padding: 8px;
}

.glyphicon.glyphicon-pushpin {
    font-size: 16pt;
}

.content {
    margin-left: 40px;
}

.postfooter {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.postbutton a {
    margin-right: 5px;
}
/*.page-header {
    background-color: #ff9400;
    margin-top: 0;
    margin-left: -15;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
}

.page-header li {
    float: left;
}

.page-header li a {
    display: block;
    color: #ffffff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.page-header li a:hover {
    background-color: #555;
    color: white;
}

.page-header .active {
    background-color: #4CAF50;
    color: white;
}*/